body
{
	background-color: rgb(38, 38, 38);
}

h1
{
	color: white;
	text-align: center;
}

h2
{
	color: white;
	text-align: center;
}

h3
{
	color: white;
	text-align: center;
}

p
{
	color: white;
	font-size: 130%;
    text-indent: 50px;
	text-align: left;
}